<div class="container">

    <div id="head"><h1>Carrito:</h1></div>

    <p id="Parrafo"></p>

    <table id="tableCarts" class="table">
    </table>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js" type="module"></script>